# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/
*.iml

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Firebase (sécurité)
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/lib/firebase_options.dart

# Env
.env
*.env
**/service_account.json

# Divers
*.log
.DS_Store